service cloud.firestore {
  
  match /databases/{database}/documents {
  	match /logs/{log} {
    	allow read;
    }
    
    match /users/{uid} {
    	allow read: if request.auth.uid == uid;
    }
    
    match /lobbies/{lobby}/roles/{uid} {
    	allow read: if request.auth.uid == uid;    
    }
    
    match /lobbies/{lobby} {
    	allow read;
    }
    
    match /stats/{stat} {
    	allow read;
    }
  }
}
